* {
	font-family: 'Raleway';

}
#footer {
	margin:0 auto;
	color: #34495e;
	width: 700px;
}
h5 {
	font-weight: 300;
	cursor: default;
}
ul {
	list-style-type: none;
	padding: 0;
	width: 100%;
}
#form_container {

	margin:0 auto;	
	text-align: center;
	width: 700px;
	height: 370px;
	border-top: 3px solid #34495e;
	border-bottom: 3px solid #34495e;
	
}
li {
	display: block;
	padding: 4px 5px 2px 9px;
}
input,button {
	text-align: center;
	color: #34495e;
	font-size: 20px;
	height: 40px;
	margin: 5px;
	width: 600px;
	border: 0;
	border-bottom: 1px solid #34495e;
	text-decoration:none;
}
#btn > button:hover {
	height: 41px;
	background-color: #dfdfdf;
	border-bottom: 2px solid #34495e;
	transition: background-color 0.35s;		
}
#btn > button:active, #btn > button:focus {
	outline: 0;
}

input:hover {
	border-bottom: 2px solid #34495e;
	height: 39px;
}
.sbtn {
	width: 220px;
	background-color: #f5f4f4;

}
.rbtn {
	width: 220px;
	background-color:#f5f4f4 ;
}
input[type=text] {
	padding-left: 10px;
}
input[type=text]:focus {
	height: 39px;
	padding-left: 10px;
	background-color: #f5f7f7;
	transition: background-color 0.7s linear;
	border-bottom: 2px solid #34495e;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#res {
	background-color: #f5f7f7;
	margin-top: 40px;
	width: 550px;
	border-bottom: 1px solid #34495e;
	padding: 8px;

}
textarea {
	color: #34495e;
	font-size: 22px;
	border: 0;
  	outline: none;
  	resize: none;
}
/*  NAVBAR  */
.nav {
	margin:0 auto;
	margin-top: 100px;
    list-style-type: none;
    padding: 0;
    list-style-type: none;
    width: 700px;
}
.nav > li {
 display: inline;
 padding: 0;
}
.nav > li > a {
	color:#34495e;
    display: inline-block;
    margin: 10px 70px;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none ;
}
.nav > li > a:hover {
	text-decoration: underline;

}
#active {
	text-decoration: underline;
}









